<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.title }} | FLASK - SAEPULFARIZ</title>
    <link href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    {% block head %} {% endblock %}
</head>

<body class="bg-dark ">
    {{ custom_filter }}

    <div id="flash" data-icon="{{ session['iconFlash']}}" data-title="{{ session['titleFlash']}}"
        data-text="{{ session['textFlash']}}" data-url=""></div>

    <span class="text-danger">
        {% with messages = get_flashed_messages(category_filter='icon') %}
        {% if messages %}{{ messages[0] }}
        {% endif %}
        {% endwith %}
    </span>

    <!-- {% include "template/topbar.html" %} -->
    {% block content %} {% endblock %}

    <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    {% block script %} {% endblock %}
</body>

</html>