<nav class="navbar navbar-expand-lg bg-success navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/">FLASK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saepulfariz">Saepulfariz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/json">JSON</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        CRUD
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/student/list">Student</a></li>
                        <li><a class="dropdown-item" href="/student/new">Student</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Student
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/student">Student</a></li>
                        <li><a class="dropdown-item" href="/result">Result</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Cookie
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/setcookie">Set Cookie</a></li>
                        <li><a class="dropdown-item" href="/getcookie">Get Cookie</a></li>
                    </ul>
                </li>

            </ul>
            {% if session['username'] %}
            {{ session['username'] }} | <a href="/logout" class="btn btn-sm btn-danger ms-2">logout</a>
            {% else %}
            <a href="/login" class="btn btn-sm btn-primary">Login</a>
            {% endif %}
            <!-- <form class="d-flex" role="search">
            </form> -->
        </div>
    </div>
</nav>